<div class="">
  <div>
    {{#if statusExists}}
      {{status}}
    {{/if}}
  </div>
  <div class="">
    <h1>AWS File Operations</h1>
  </div>
  <div class="">
    {{>upload}}
    {{>fileListing}}
  </div>
</div>
