<div class="">
  <div>
    {{#if statusExists}}
      {{status}}
    {{/if}}
  </div>
  <div id="header">
    <h1>AWS File Operations</h1>
  </div>
  <div id="main">
    {{>upload}}
    {{>fileListing}}
  </div>
  <div id="footer">
    <p>curated by 😎 d*</p>
  </div>
</div>
